
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<CNW.Models.Entities.Image>
<section class="category-section spad">
    <div class="container">
        <div class="row">
            @{Html.RenderAction("SlideBar", "Category");}

            <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <div class="tag-sale">ON SALE</div>
                                        <img src="~/Content/img/@item.url" alt="">
                                        <div class="pi-links">
                                            <a href="/Product/Index/@item.ProductDetail.Id" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                                        </div>
                                    </div>
                                    <div class="pi-text">
                                        <h6></h6>
                                        <p>@item.ProductDetail.Product.Name</p>
                                    </div>
                                </div>
                                <div class="text-center w-100 pt-3">
                                    <button class="site-btn sb-line sb-dark">LOAD MORE</button>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
</section>
