@model CNW.Models.Entities.Product
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Body -->
@using CNW.Models.Entities;
<div class="product-section">
    <div class="container">
        <div class="back-link">
            <a href="/Category"> &lt;&lt; Back to Category</a>
        </div>

        <div class="row">
           @{ Html.RenderAction("ImageProduct", "Product",new {Pdetail = Model.ProductDetails }); }
           @{ Html.RenderAction("DetailProduct", "Product" , new { Pdetail = Model.ProductDetails}); }
        </div>
    </div>
</div>
<!--Body End-->
@section Banner
{
    @{ Html.RenderAction("Banner", "Product");}
}
