
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CNW.Models.Entities.Category
<section class="category-section spad">
    <div class="container">
        <div class="row">
            @{Html.RenderAction("SlideBar", "Category");}
            @{Html.RenderAction("CategoryBody", "Category");}
        </div>
    </div>
</section>

