
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Model
<section class="category-section spad">
    <div class="container">
        <div class="row">
            @RenderPage("SlideBar.cshtml",Model)
            @RenderPage("CategoryBody.cshtml",Model)
        </div>
    </div>
</section>

