
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CNW.Models.Entities;
@section HeroSection
{
    @{Html.RenderAction("HeroSection", "Home");}
}
<p>



</p>
@section FeatureSection
{
    <section class="features-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 p-0 feature">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="/Content/img/icons/1.png" alt="#">
                        </div>
                        <h2>Fast Secure Payments</h2>
                    </div>
                </div>
                <div class="col-md-4 p-0 feature">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="/Content/img/icons/2.png" alt="#">
                        </div>
                        <h2>Premium Products</h2>
                    </div>
                </div>
                <div class="col-md-4 p-0 feature">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="/Content/img/icons/3.png" alt="#">
                        </div>
                        <h2>Free &amp; fast Delivery</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
<!-- Body start -->
@RenderPage("HomeBody.cshtml")
<!-- Body End -->
@section Banner
{
    <section class="banner-section">
        <div class="container">
            <div class="banner set-bg" data-setbg="img/banner-bg.jpg" style="background-image: url(&quot;img/banner-bg.jpg&quot;);">
                <div class="tag-new">NEW</div>
                <span>New Arrivals</span>
                <h2>STRIPED SHIRTS</h2>
                <a href="#" class="site-btn">SHOP NOW</a>
            </div>
        </div>
    </section>
    }





