
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CNW.Models.Entities;
@section HeroSection
{
    <section class="hero-section">
        <div class="hero-slider owl-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-3806px, 0px, 0px); transition: all 0s ease 0s; width: 11418px;">
                    @foreach(SanPham item in Model)
                                    {
                                        <div class="owl-item cloned" style="width: 1903px;">
                                            <div class="hs-item set-bg" data-setbg="/Content/img/bg.jpg" style="background-image: url(&quot;img/bg.jpg&quot;);">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xl-6 col-lg-7 text-white">
                                                            <span>New Arrivals</span>
                                                            <h2>@item.Name</h2>
                                                            <p>@item.Description</p>
                                                            <a href="#" class="site-btn sb-line">DISCOVER</a>
                                                            <a href="#" class="site-btn sb-white">ADD TO CART</a>
                                                        </div>
                                                    </div>
                                                    <div class="offer-card text-white">
                                                        <span>from</span>
                                                        <h2>$@item.Price</h2>
                                                        <p>SHOP NOW</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                </div>
            </div><div class="slider-nav-warp"><div class="slider-nav"><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="flaticon-left-arrow-1"></i></button><button type="button" role="presentation" class="owl-next"><i class="flaticon-right-arrow-1"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div></div>
        </div>
        <div class="container">
            <div class="slide-num-holder" id="snh-1"><span> 1</span><span>2</span></div>
        </div>
    </section>
}
@section FeatureSection
{
    <section class="features-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 p-0 feature">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="/Content/img/icons/1.png" alt="#">
                        </div>
                        <h2>Fast Secure Payments</h2>
                    </div>
                </div>
                <div class="col-md-4 p-0 feature">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="/Content/img/icons/2.png" alt="#">
                        </div>
                        <h2>Premium Products</h2>
                    </div>
                </div>
                <div class="col-md-4 p-0 feature">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <img src="/Content/img/icons/3.png" alt="#">
                        </div>
                        <h2>Free &amp; fast Delivery</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
<!-- Body start -->
@RenderPage("HomeBody.cshtml")
<!-- Body End -->
@section Banner
{
    <section class="banner-section">
        <div class="container">
            <div class="banner set-bg" data-setbg="img/banner-bg.jpg" style="background-image: url(&quot;img/banner-bg.jpg&quot;);">
                <div class="tag-new">NEW</div>
                <span>New Arrivals</span>
                <h2>STRIPED SHIRTS</h2>
                <a href="#" class="site-btn">SHOP NOW</a>
            </div>
        </div>
    </section>
    }





